.board-container {
  display: flex;
  gap: 1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.board-lane-container {
  width: 30%;
}

.board-lane {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 80%;
  padding: 1rem;
  overflow-y: auto;
}

.board-lane-heading {
  display: flex;
  justify-content: center;
}
